body {
    background-color: #000000;
    color: #ffffff;
}

header{
    padding: 0px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
}

#symbol {
    display: flex;
}
#list1{
    display: flex;
-moz-box-align: center;
align-items: center;
}

#list1 ol{
    display: flex;
    justify-content: space-between;
    -moz-box-pack: justify;
    -moz-box-align: center;
align-items: center;
padding: 0px;
margin: 0px;
list-style: none;
}

#list1  ol li{
    margin: 0px 5px;
position: relative;
counter-increment: item 1;
font-size: var(--fz-xs);
}

#list1 ol li a{
    padding: 10px;
}
#list1 ol li a::before{
    margin: 5px;
    color: #7fffd4;
    font-size: var(--fz-xxs);
    content: "0" counter(item) ".";
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #7fffd4;
}