body {
    background-color: #000000;
    color: #ffffff;
}

header{
    padding: 0px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
}

#symbol {
    display: flex;
}
#list1{
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

#list1 ol{
    display: flex;
    justify-content: space-between;
    -moz-box-pack: justify;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#list1  ol li{
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}

#list1 ol li a{
    padding: 10px;
}
#list1 ol li a::before{
    margin: 5px;
    color: #7fffd4;
    font-size: var(--fz-xxs);
    content: "0" counter(item) ".";
}



.list2 {
    position: fixed;
    left: 40px;
    bottom: 0px;
   
}

.list2 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    -moz-box-align: center;
}

.list2 ul li a{
    padding: 10px;
}

.list2 ul li a svg{
    height: 20px;
    width: 20px;
}

.list2 ul::after{
    content: "";
    width: 1px;
    height: 150px;
    display: block;
    background-color: #7fffd4;
    margin: 0px auto;
}

main{
    margin: 0px auto;
}

.content{
    padding: 0px 150px;
}

.cv{
    transition-delay: 400ms;
}

.button{
    color: #7fffd4;
background-color: transparent;
border: 1px solid #7fffd4;
border-radius: 4px;
font-size: 13px;
padding: 0.75rem 1rem;
line-height: 1;
text-decoration: none;
transition: all 0.25s cubic-bezier(0.645,0.045,0355,1);
margin-left: 15px;
}

.button:hover, .button:focus-visible{
    outline: none;
    box-shadow: 3px 3px 0 0 #7fffd4;
    transform: translate(-4px,-4px);
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #7fffd4;
}